* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




.mat-toolbar {
    background-color: #ff0066;
    height: 30px;

}



.heading h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    color: white;
    letter-spacing: 3px;
}

.mat-toolbar-row h4 {
    font-size: 20px;
    color: white;
}

.mat-toolbar .mat-button {
    margin-top: 2px;
}

.mat-toolbar .mat-icon {
    color: white;
    margin-bottom: 100px;

}

.mat-sidenav-container {


    height: 85%;


}










form {
    margin: 0;

}






.mat-sidenav {
    width: 420px;
    background-color: white;
}



.mat-sidenav-container .menu {

    align-items: center;
    display: flex;
}

.mat-sidenav-container .menu i {


    border-radius: 50%;
    padding-left: 5%;
    margin-right: 10px;
    padding-top: 2%;

}

.menu h3 {
    color: black;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;


}

.mat-sidenav-container .menu .cross {
    padding-left: 50%;
}




.mat-sidenav-container ul li a {
    display: block;
    padding: 3px 30px;
    color: black;
}

.mat-sidenav-container .bottom-content {
    position: absolute;
    bottom: 0;

}

.mat-sidenav-container .bottom-content ul li a {
    display: block;

    color: black;
}

.mat-sidenav-container ul li i {
    margin-right: 16px;
}

.mat-sidenav-content .home-content {
    position: relative;
    padding-top: 30px;
}

.home-content .overview-boxes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 40px;
}

.home-content .overview-boxes .box {
    width: calc(100% /5 - 15px);
    padding: 20px;
    background: #fff;

    border-radius: 5px;
    box-shadow: 0 1px 2px;
}

.home-content .overview-boxes .box_topic {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 50px;

}

.home-content .overview-boxes .number {
    font-size: 40px;
    font-weight: 500;
    margin-top: -5px;
    display: inline-block;
    display: flex;


}




.mat-sidenav-content table {
    width: 100%;
    table-layout: fixed;



}

.mat-sidenav-content table th {
    background-color: #fff;
    padding-bottom: 20px;
    border: 1px solid black;
    font-size: 15px;
    padding-left: 1px;

}

.mat-sidenav-content table td {
    background-color: #fff;
    padding: 20px;

}

.mat-sidenav-content table td i {
    padding: 3px;
    font-size: 20px;
    color: black;
}

.mat-sidenav-content table th i {
    padding-left: 20px;
    font-size: 12px;
}

.mat-sidenav table td {
    background-color: #fff;
    padding: 12px;

}

.mat-sidenav table td {
    font-weight: 800;
}

.mat-sidenav .btn {
    border: none;
    margin: 20px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.points .switch .check {
    position: relative;
    width: 50px;

}

.points .switch .check::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}

.points .switch .check:checked::before {
    background: #00a1ff;

}

.points .switch .check::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 15px;
    margin: 9px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s cubic-bezier(0, 1, 0.5, 1);
    border-radius: 4px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s cubic-bezier(0, 1, 0.5, 1);
    border-radius: 3px;
}

input:checked+.slider {
    background-color: #52c944;
}

input:focus+.slider {
    box-shadow: 0 0 4px #7efa70;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked+.slider.red {
    background-color: crimson;
}

input:focus+.slider.red {
    box-shadow: 0 0 4px crimson;
}

input:checked+.slider.red {
    background-color: crimson;
}

#round {
    border-radius: 34px;
}

#round:before {
    border-radius: 50%;
}

input:checked+.slider.red {
    background-color: crimson;
}

input:focus+.slider.blue {
    box-shadow: 0 0 4px #424bf5;
}

input:checked+.slider.blue {
    background-color: #424bf5;
}