<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <div class="heading">
    <h1>UNEEKLI</h1>
  </div>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav [(opened)]="opened" mode="over">
    <div style="position: fixed; left:0px; top:0px; z-index:50">

      <div class="menu">
        <i class="fa fa-arrow-left"></i>
        <h3>Main Menu</h3>
        <div class="cross">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>
      <hr style="margin-top: 5px;color:black;">
      <div class="customize-your-view">
        <h1 style="padding-left: 15px; font-size: 18px; font-weight: 500;">Customize Your View</h1>
        <div class="points" style="padding-left:15px ;">
          <div class="points">
            <label style="display: flex; justify-content:space-between;">
              <span class="en">Show Sponsored Products</span>
              <label class="switch"> <input type="checkbox"> <span class="slider blue" id="round"></span></label>
            </label>
            <label>
              <span class="en">Show Product Information On Amazon Page</span>
              <label class="switch"> <input type="checkbox"> <span class="slider blue" id="round"></span></label>
            </label>
            <label>
              <span class="en">Show Product Information on product detail page</span>
              <label class="switch"> <input type="checkbox"> <span class="slider blue" id="round"></span></label>
            </label>
          </div>
        </div>
      </div>
      <div class="add-remove">
        <h1 style="padding-left: 20px; font-size: 18px; font-weight: 500;">Add/ Remove Data Points</h1>
        <table style=" width: 95%; margin: 20px; 
    ">
          <tr style="background-color:lightgray ;">
            <th style="padding-left: 20px ;">Data Points</th>
            <th>Extension</th>
            <th>Amazon Page</th>
          </tr>

          <tr>
            <td> Brand</td>
            <td><i class="fa-solid fa-circle-check"></i></td>
            <td><i class="fa-solid fa-circle-check"></i></td>
          </tr>
          <tr>
            <td> Price</td>
            <td><i class="fa-solid fa-circle-check"></i></td>
            <td><i class="fa-solid fa-circle-check"></i></td>
          </tr>
          <tr>
            <td> Monthly Estimated Sales</td>
            <td><i class="fa-solid fa-circle-check"></i></td>
            <td><i class="fa-solid fa-circle-check"></i></td>
          </tr>
          <tr>
            <td>Daily Estimated Sales</td>
            <td><i class="fa-solid fa-circle-check"></i></td>
            <td><i class="fa-solid fa-circle-check"></i></td>
          </tr>
          <tr>
            <td>Estimated Revenue</td>
            <td><i class="fa-solid fa-circle-check"></i></td>
            <td><i class="fa-solid fa-circle-check"></i></td>
          </tr>
          <tr>
            <td>Date First Available</td>
            <td><i class="fa-solid fa-circle-check"></i></td>
            <td><i class="fa-solid fa-circle-check"></i></td>
          </tr>
          <tr>
            <td>Net and Profit Calculator</td>
            <td><i class="fa-solid fa-circle-check"></i></td>
            <td><i class="fa-solid fa-circle-check"></i></td>
          </tr>
          <tr>
            <td>Rating Number</td>
            <td><i class="fa-solid fa-circle-check"></i></td>
            <td><i class="fa-solid fa-circle-check"></i></td>
          </tr>
          <tr>
            <td>Rating</td>
            <td><i class="fa-solid fa-circle-check"></i></td>
            <td><i class="fa-solid fa-circle-check"></i></td>
          </tr>
          <tr>
            <td>Fees</td>
            <td><i class="fa-solid fa-circle-check"></i></td>
            <td><i class="fa-solid fa-circle-check"></i></td>
          </tr>
          <tr>
            <td>Rank</td>
            <td><i class="fa-solid fa-circle-check"></i></td>
            <td><i class="fa-solid fa-circle-check"></i></td>
          </tr>

        </table>
      </div>
      <div class="button-col">

        <button class="btn btn-primary" style="
      color: black;
       background-color: white; border: 1px solid black; ">Reset</button>


        <button class="btn btn-primary" style="
      color: white;
      background-color: #ff0066; float: right;  ">Apply</button>


      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Avearge Monthly Sales</div>
            <div class="number">235</div>

          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Avearge Sales Rank</div>
            <div class="number">270,483</div>

          </div>

        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Avearge Price</div>
            <div class="number">6472.45</div>

          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Avearge Rating Number</div>
            <div class="number">38273</div>

          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic" style="padding-bottom:0px ;">Opportunity Score</div>
            <div class="number">
              <div style="border: 3px solid palevioletred; border-radius: 50px; display: flex; width: 20%;
              justify-content: center; padding: 10px; font-size: 24px; ">
                5
              </div>
              <h2 style="padding-left: 10px;font-weight: 20px;">High Demand</h2><br>

            </div>


          </div>
        </div>
      </div>
    </div>
    <br>

    <body>
      <table>

        <tr>
          <th style="font-size: 40px; color: palevioletred; padding-left: 15px;"># <i class="fa fa-caret-up"
              aria-hidden="true " style="font-size: 40px;"></i>
          </th>
          <th>Actions</th>
          <th>Product Name <i class="fa fa-arrows-v" aria-hidden="true"></i> </th>
          <th>Brand <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left:70px ;"></i></th>
          <th>Price <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left:80px ;"></i></th>
          <th>MO. Sales <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left:50px ;"></i></th>
          <th>D. Sales <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left: 60px;"></i></th>
          <th>MO. <br>Revenue <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left: 60px;"></i></th>
          <th>Date First <br>Available <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left:60px ;"></i>
          </th>
          <th>Net</th>
        </tr>
        <tr>
          <td>1</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>
        <tr>
          <td>2</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>
        <tr>
          <td>3</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>
        <tr>
          <td>4</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>
        <tr>
          <td>5</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>

      </table>
    </body>


  </mat-sidenav-content>
</mat-sidenav-container>